body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

#fact {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #e6c403;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0 0 2px black,0 0 2px black; 
}

button:hover {
    background-color: #8c7704;
}