* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slide {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.slide .item {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #f0e59b91;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(2) {
    left: 50%;
}

.slide .item:nth-child(3) {
    left: calc(50% + 220px);
}

.slide .item:nth-child(4) {
    left: calc(50% + 440px);
}

.slide .item:nth-child(n+5) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(1) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .info {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .click {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #e8edf3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    font-size: 16px;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    transition: background-color 0.3s;
}

.content .click:hover {
    background-color: #eab308;
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    margin: 0 5px;
    border: 1px solid black;
    transition: 0.4s;
}

.button button:hover {
    background: #eab308;
    color: black;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.static-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

@media screen and (max-width: 1300px) {
    .slide {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slide .item {
        width: calc(50% - 200px);
        height: 200px;
        margin: 10px;
        transform: none;
    }

    .content .name {
        font-size: 18px;
    }

    .content .info {
        font-size: 14px;
    }

    .content .click {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .slide {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .slide .item {
        width: calc(55% - 10px);
        height: 200px;
        margin: 0px;
        top: 60%;
        transform: translate(-40%, 0);
        overflow-y: auto;
    }

    .item .content {
        top: 35%;
        width: 350px;
        left: 20px;
    }

    .content .name {
        font-size: 16px;
    }

    .content .info {
        font-size: 15px;
    }

    .content .click {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: auto;
    }

    .slide {
        flex-direction: column;
        min-height: auto;
    }

    .slide .item {
        width: 50%;
        height: 20px;
        margin: 90px 0;
        transform: none;
    }

    .content .name {
        font-size: 13px;
    }

    .content .info {
        font-size: 12px;
    }

    .content .click {
        font-size: 10px;
    }
}
